@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  // background-color: #FAFAFA; <- color 1
  // background-color: #fcfcfc; <- color 2
  // background-color: #F5F6FA; <- color 3 ( re-preRelease )
  background-color: #E8ECEF;
}
