* {
  margin: 0;
  padding: 0;
  font-family: 'sf-pro-text', sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #E8ECEF;
}
