@import "./../components/styleguide";

.headerTeacherWrapper {
    width: 100%;
    background: #242626;
}
.headerTeacherNav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}
.headerTeacherNav__Title {
    h3 {
        color: #DFE3E2;
        margin: 0;
        font-size: 1.19em;
    }
}
.headerTeacherExtend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba(155, 155, 155, 0.151);
    ul {
        display: -webkit-inline-flex;
        list-style: none;
        li {
            color: #DFE3E2;
            margin: 0 15px;
            font-size: 15px;
            cursor: pointer;
            &:hover , &:focus {
                color: #5FD063;
            }
        }
    }
}
.headerTeacherExtendActive {
    color: #5FD063!important;
}

.teacherMainWrapper {
    padding: 30px 60px;
}
.studentProjectWrapper {
    display: flex;
}

.studentProject {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.studentProject--item {
  margin: 15px;
  border-radius: 3px;
  position: relative;
  width: 250px;
  min-height: 300px;
  overflow: hidden;
  background-color: white;
}

.studentProjectItem__Cover {
  width: 100%;
  height: 200px;
  padding-top: 20px;
}

.studentProjectCircleCover {
    width: 200px;
    height: 200px;
    margin: 0 auto; 
    border-radius: 50%;
    background-color: #5FD063;
    background-origin: border-box;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.studentProjectItem__Header {
    width: 100%;
    position: absolute;
    height: 50px;
    display: flex;
}

.studentProjectHeaderMenu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.studentProjectItem__Title {
    padding: 15px;
    text-align: center;
    .studentProjectItemTitle {
        padding: 30px;
        padding-bottom: 15px;
        span {
            font-size: 12px;
            color: #8492A6;
        }
    }
}

.studentProjectItemDetails {
    width: inherit;
    padding: 15px 30px;
    background-color: red;
    position: absolute;
    bottom: -30px;
}