// navbar 
.sideNavbar {
  height: 100vh;
  padding: 30px 10px;
  background: #161616;
  max-width: 60px;
  float: left;
}

// content wrap
.contentDash {
  float: left;
  width: 300px;
  height: 200px;
  &::after, &::before{
    clear: both;
  }
}