header.admin-header {
 max-height: 50px;
}

nav.admin-navigation {
  position: fixed;
  width: 100%;
  background: #252F39;
  z-index: 99;
  max-height: 50px;
}

.admin__content { display: flex;  }
.admin-nav--items {
  display: flex;
}

.admin-nav--core__content {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.admin-nav-core {
  display: flex;
  width: calc(100% - 300px);
}

.admin-nav__right-menu {
  height: 50px;
  align-items: center;
  padding-right: 20px;
  display: flex;
  span {
    color: #E5E9F2;
    font-size: .8rem;
    margin-left: 10px;
  }
}

.logoutSvg {
  margin-left: 10px;
  cursor: pointer;
}

.admin-logo {
  padding: 0 70px;
  background: #1E262E;
  max-height: 50px;
  display: flex;
  align-items: center;
h3 {
  font-size: 1.09rem;
  color: white;
  margin-top: 2.5px;
  }
}

#input-admin-nav {
  width: 250px;
  margin-left: 25px;
}

.wrapper-admin-dashboard content {
  display: flex;
  aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    background: #F9FAFC;
    border-right: 1px solid #e3e4e6;
    .admin-aside-menu {
      padding-top: 50px;
    }
  }

  .admin-aside-menu--items {
    margin-bottom: 10px;
  }

  .admin-aside-menu__content {
    padding: 40px 20px;
    .admin-aside-menu--items__content {
      border-left: 2px solid #e3e4e6;
      margin: 20px 0 40px 20px;
      padding: 0 20px;
      ul li {
        list-style-type: none;
        margin-bottom: 10px;
        a {
          color: #1F2D3D;
          p {
            font-size: .9rem;
            &:hover , &:focus {
              color: #0f55eb;
            }
          }
        }
      }
    }
  }

  .is-items__content-collapse {
    display: none;
  }

  #admin-content-core {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    .admin-content__wrap {
      padding: 50px 0px 30px 300px;
    }
  }
}

// component notify admin
// base notify

.admin-bar-alert-wrapper {
  position: fixed;
  z-index: 2;
  width: calc(100% - 300px);
}

.admin-notify-bar {
  width: 100%;
  padding: 10px 20px;
  position: relative;
  display: flex;
  p {
    margin: 0;
    font-weight: bold;
    color: white;
  }
}
// event notify
.is-admin-notify-bar--default {
  background: #F9FAFC;
  p {
    color: #8492A6;
  }
}

.is-admin-notify-bar--blue {
  background: #3273dc;

}
.is-admin-notify-bar--caution {
  background: #ffdd57;
  p {
    color: rgba(0,0,0,.7);
  }
}
.is-admin-notify-bar--danger {
  background: #ff3860;
}
.is-admin-notify-bar--done {
  background: #23d160;
}

.is-admin-notify-bar--close {
  justify-content: flex-end;
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0 20px;
  span {
    color: rgba(0, 0, 0, 0.7);
  }
}

.is-admin-notify-bar--close {
  justify-content: flex-end;
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0 20px;
  span {
    color: #1F2D3D;
  }
}

.is-admin-notify-bar--link {
  margin-left: 5px;
  color: #0f55eb;
  text-decoration: underline!important;
}

.admin-aside-menu--items__header {
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  h4 {
    margin: 0;
  }
  &:hover {
    background: #eee;
  }
  a {
    font-weight: bold;
    color: #1F2D3D;
  }
}
.activeAdminMenuItems {
  p {
    color: #0f55eb;
  }
  color: #0f55eb;
}
.activeAdminMenu {
  background: #eee;
}
//

// event popup on admin
.createProjectModal-content {
  padding: 30px 20px;
  text-align: center;
  p {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.createProjectModal-footer {
  width: 100%;
  display: inline-flex;
  margin-top: 4px;
  button {
    padding: 15px 20px;
    background: transparent;
    width: 200px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
    &:hover {
      -webkit-transition: all 0.12s ease;
      transition: all 0.12s ease;
      -webkit-transition: background 0.2s linear 0s;
      transition: background 0.2s linear 0s;
    }
  }
}

.green-button {
  background: #1FBF86!important;
  &:hover{
    background: #1d925f !important;
  }
}
.red-button {
  background: #ec008c!important;
  &:hover{
    background: #b2006a !important;
  }
}

.admin-avatar {
  position: relative;
}

//badge status
.online-badge {
  width: 10px;
  height: 10px;
  background: green;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 50%;
}
.offline-badge {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: red;
  border-radius: 50%;
}
