@import "./../components/styleguide";

.navbar__profile--profile-page {
    span {
        a {
            font-weight: 600;
        }
    }
}

.createProjectModal-content {
    padding: 15px;
}
.board {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.boardWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    padding: 20px 0 0 95px;
}

.boardWrapper__Main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    -webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in;
}

.boardHeader {
    position: relative;
    padding-left: 80px;
}

.boardHeader__Navigation {
    width: 100%;
    min-height: 30px;
    background: $blue;
    padding: 10px 20px;
    box-shadow: 0 3px 20px 4px rgba(24,117,240,.16);
}

.boardHeaderNavigation__item {
    ul {
        display: inline-flex;
        text-decoration: none;
        list-style: none;
        color: white;
        li {
            margin-right: 5px;
        }
    }
}

// aside

.asideBoardWrapper {
    background: #fff;
    position: fixed;
    width: 80px;
    height: 100vh;
    top: 0;
    .asideBoardWrapper__Core {
        padding: 15px;
    }
}

.asideBoard__ProjectTitle {
    span { font-size: 14px; color:$grey; }
    h3 {
        font-size: 25px;
        margin-top: 10px;
    }
}
.asideBoard__ProjectDesc {
    span { font-size: 13px; font-family: 'Roboto'; color: $grey;}
}
.profileMenuPopup__Content {
    p {
        margin: 15px 0 8px 0!important;
    }
}

.createProjectModal-wrapper {
    overflow: hidden;
    border-radius: 2px;
}

.containerProfilePictureEdit{
    height: inherit;
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    background: rgba(0, 0, 0, .3);
}
.outerProfilePicture {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: .9;
    z-index: 1;
    filter: blur(10px);
    background-size: cover;
    background-origin: border-box;
}

.vue-image-crop-upload{
    z-index: 99!important;
}

.isCollapsed {
    display: none;
}

// projects 
.preProject__Container {
    padding: 15px;
}
.preProjectTitle h4 {
    text-align: center;
}

.preProjectList , .preProjectList__item{
    padding: 10px;
}
.preProjectList {
    display: inline-flex;
}
.preProjectList__item {
    width: 200px;
    height: 300px;
    margin: 0 10px;
    &:hover > .preProjectItem__header img {
        box-shadow: 1px 9px 18px 1px rgba(60,60,60,.15)!important;
        transition: .2s ease-in-out;
        width: 100px;
    }
    // border: 1px solid red;
    .preProjectItem__header {
        text-align: center;
        height: 100px;
    }
    .preProjectItem__content {
        padding: 15px 0;
        text-align: center;
        h3 {
            font-size: 20px;
            text-align: center;
        }
        p {
            font-size: 12px;
            text-align: center;
            color: #5d5b5b;
        }
        button {
            position: relative;
            bottom: -40px;
            cursor: pointer;
        }
    }
    img {
        border-radius: 50%;
        width: 90px;
        transition: .2s ease-in-out;
        -webkit-user-drag: none;
    }
}

.preSetup  {
    padding: 15px;
    text-align: center;
    h4 {
        text-align: center;
        margin-bottom: 18px;
    }
    input {
        margin-bottom: 15px;
    }
}