@font-face {
  font-family: sf-pro-text;
  src: url('../../fonts/sf-pro-text_bold.woff2'),
  url('../../fonts/sf-pro-text_regular.woff2'),
  url('../../fonts/sf-pro-text_semibold.woff2');
};

input[type="text"] , input[type="password"] {
  font-family: -apple-system, BlinkMacSystemFont, 'sf-pro-text', Roboto, sans-serif
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

a {
  color: #0f55eb;
}

h1 , h2 , h3 , h4 , p {
  color: #1F2D3D;
  margin: 0 0 8px 0;
}

p {
  font-size: 15px;
  font-family: sf-pro-text;
  font-weight: 500;
}

.ask-subheading {
  margin: 0 0 20px 0;
}

span {
  color: #1F2D3D;
}